.social-btn {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 3px;

  background-color: #f7f7f7;
  background-image: url(http://static.botmother.com/ct/graduate/css_sprites.png);
  border: 3px solid #222222;
  border-radius: 50%;
}

.twitter-btn:hover,
.footer .twitter-btn:hover {
  background-color: #00aced;
  border: 3px solid #00aced;
}

.facebook-btn:hover,
.footer .facebook-btn:hover {
  background-color: #3b5998;
  border: 3px solid #3b5998;
}

.pinterest-btn:hover,
.footer .pinterest-btn:hover {
  background-color: #cb2028;
  border: 3px solid #cb2028;
}

.footer {
  padding: 19px;
  background-color: #f7f7f7;
}

.copyright {
  width: 940px;
  margin: 0 auto;
}

.copy {
  float: left;
  padding-top: 12px;
  width: 33.3%;

  font-weight: bold;
  font-style: normal;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: #777777;
}

.footer .social-btns {
  float: left;
  display: block;
  width: 33.3%;

  text-align: center;
}

.copyright::after {
  content: "";
  display: block;
  clear: both;
}

.footer .social-btn {
  display: inline-block;
  margin: 2px 2px;
  background-color: #222222;
}
.contacts {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 110px;
  text-align: center;
  background-image: url(../../assets/img/conta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  width: 942px;
  margin: 0 auto;
  padding-top: 60px;

  font-size: 0;
}

.contacts .section-title {
  letter-spacing: -1px;
  color: white;
}

.contacts .section-desc {
  padding-top: 8px;
}
.section-desc {
  color: grey;
}

.message {
  display: inline-block;
  width: 50%;
  padding-top: 10px;
  padding-left: 13px;
  box-sizing: border-box;
}

.userdata {
  display: inline-block;
  width: 50%;
  padding-top: 10px;
  padding-right: 13px;
  vertical-align: top;
  box-sizing: border-box;
}

.userdata input {
  width: 100%;
  height: 52px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding-left: 18px;
  padding-right: 18px;
  box-sizing: border-box;

  letter-spacing: -0.3px;
  border-radius: 5px;
}

input::placeholder,
textarea::placeholder,
input:focus,
textarea:focus,
input[type="text"],
textarea {
  color: #777777;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

input[type="submit"] {
  width: 242px;
  height: 67px;
  box-sizing: border-box;

  font-weight: bold;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: white;

  background-color: #fed136;
  border: 1px solid #fed136;
  border-radius: 5px;
}

textarea {
  width: 100%;
  padding: 15px 21px;
  box-sizing: border-box;

  letter-spacing: -0.4px;

  border-radius: 5px;
}
.about {
  padding-top: 108px;
  padding-bottom: 120px;
  text-align: center;
}

.titles {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
}

.about-items:before {
  top: 0;
  left: 50%;
  z-index: 1;

  width: 2px;
  height: 100%;

  background-color: #f7f7f7;
  content: "";
}

.about-items {
  margin-top: 74px;
}

.about-item {
  z-index: 5;

  display: block;
  width: 940px;
  margin: 0 auto;
  padding: 0 35px;
  box-sizing: border-box;
}

.about-item::after {
  content: "";
  display: block;
  clear: both;
}

.about-content {
  width: 304px;
  padding-top: 3px;
}

.col {
  float: left;

  display: block;
  min-height: 100px;
}

.about-item:nth-child(2n) .col {
  float: right;
}

.about-item:nth-child(2n + 1) .about-content {
  margin-right: 40px;
  text-align: right;
}

.about-item:nth-child(2n) .about-content {
  margin-left: 40px;
  text-align: left;
}

.about-pic {
  width: 182px;
  height: 182px;
  box-sizing: border-box;

  border: 7px solid #f7f7f7;
  border-radius: 50%;
}

.pic-container {
  padding-bottom: 89px;
}
.container {
  width: 100%;
  overflow: hidden;
}

.about-text {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  line-height: 1.7;
  color: #777777;
}

.about-title {
  padding-top: 7px;
  padding-right: 2px;
  padding-bottom: 12px;

  letter-spacing: -0.4px;
}

.about-item .date {
  padding-top: 4px;
  padding-right: 4px;

  text-transform: uppercase;
  letter-spacing: -0.2px;
}
footer {
  position: absolute;
  width: 100%;
}

@media (max-width: 768px) {
  .contacts {
    width: 1028px;
  }
  .glob{

    width: 1028px !important;
  }
}
.glob{
  width: 1296px;
}
