<div class="glob">
  <section class="about">
    <h2 class="section-title">QUI SOMMES-NOUS ?</h2>
    <p class="section-desc">PRÉSENTATION</p>
    <div class="about-items" >
      <div class="about-item" *ngFor="let post of postList">
        <div class="about-content col">
          <time class="date titles" datetime="2010-07">{{post.sujet}}</time>
          <h3 class="about-title titles">{{post.sousTitre}}</h3>
          <p class="about-text">{{post.contenu}}.</p>
        </div>
  
        <div class="pic-container col">
          <img class="about-pic" src= {{post.image}} alt="Our humble beginnings">
        </div>
      </div>
     <div class="about-item continue">
        Notre
        <br> Histoire
        <br> continue
        <br> ...
      </div>
  
    </div>
  </section>
  <section class="contacts">
    <h2 class="section-title">Contactez nous</h2>
    <p class="section-desc">Nous Vous accopagnont dans vos projets</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="userdata">
        <input type="text" placeholder="Votre nom *"  formControlName="name">
        <input type="text" placeholder="Votre e-mail *" formControlName="email">
        <input type="text" placeholder="Sujet" formControlName="sujet" >
      </div>
      <div class="message">
        <textarea name="" id="" cols="30" rows="10"  formControlName="message" placeholder="Votre message *"></textarea>
      </div>
      <input type="submit" value="Send message"  [disabled]="form.invalid">
    </form>
  </section>
  <app-footer></app-footer>
  </div>

