.row{
    display: flex;
    flex-direction: column;
}
.col-md-7{
    width: 100%;
}
@media (max-width: 768px) {
    .globale{
      width: 1028px;
    }
  }

  .glob {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 1196px;
}
.logo{
    width: 170px;
  }