<div class="glob">
<div class="globale">
  <div class="container">
      <div class="row">
        <div class="col-md-5">
          <app-product></app-product>
        </div>
        <!-- <div class="col-md-7 text-center">
            <app-product-list></app-product-list>
          </div> -->
      </div>
  </div>
  <app-footer></app-footer>
  
  </div>
</div>