.cadre{
    height:350px;
}
.cadre[_ngcontent-c1] {
    height: 280px;
    width: 234px;
}
.photo{
    display: flex;
    flex-wrap: wrap;
}
.imgs{
    height: 200px;
}
.panel-heading{
    height: 70px;
} 
.container {
    width: 970px;
}
.clicable{
    cursor: pointer;
}
.nav{
    padding-left: 25px;
}


.foot-galer{
    position: absolute;
    z-index: 30;
    width: 100%;
    margin-top: 150px;
}
@media (max-width: 768px) {
    .foot-galer{
      width: 1028px ;
    }
  }
  .container{
    width: 1296px;
  }