<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Voila Ma Galerie!!!</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <label>Mot Clé:</label>
          <input type="text" name="motCle" ngModel required [(ngModel)]="motCle"> <!-- cela veu dire ce que je tape ici sera stokhé dans une variable qui sappelle motcle-->
          <button type="submit" class="btn btn-primary">Chercher</button>
        </div>
      </form>
    <div class="row photo">
      <br>
      <br>
      <!-- <div *ngIf="pagePhoto"> -->
      <div *ngFor="let p of pagePhoto?.hits" class="col-md-3 cadre">
        <!-- ? cette expression soit utiliser si lobjet  page photo est définit -->
        <div class="panel panel-primary">
          <div class="panel-heading">{{p.tags}}</div>
          <div class="panel-body imgs">
            <img src="{{p.previewURL}}"><br><br>
            <a (click)="lookDetail(p)" class="clicable">Détails</a>
          </div>
        </div>
      </div>
      <div class="row paginate">
        <ul class="nav nav-pills">
          <li [ngClass]="{'active':currentPage == (i+1)}" class="clicable" *ngFor="let page of pages; let i=index "> <!-- ng class pour marqué la page c angular  et active c une class bootstrap-->
              <a (click)="goToPage(i)">{{i}}</a> <!--fonction qui appelle le numéro de la page et la chargé-->
          </li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="foot-galer">
<app-footer></app-footer>
</div>

