<div class="container">
  <header class="header">
    <section class="preview">
      <h1 class="main-title">Bienvenue Chez Sofa By design...</h1>
      <p class="preview-excerpt">MEUBLE & DÉCO AU DESIGN ACCESSIBLE !</p>
      <a  class="btn" (click)="voirProduit()">
          Je découvre !
      </a>
    </section>
  </header>
<section class="services">
  <h2 class="section-title">Nos Garanties</h2>
  <div class="services-items">
    <div class="services-item e-commerce-icon">
      <h3 class="services-title titles">Livraison Gratuite</h3>
      <p class="services-text">à domicile sur RDV,à l'étage de votre choix
      </p>
    </div>
    <div class="services-item responsive-web-icon">
      <h3 class="services-title titles">14 Jours</h3>
      <p class="services-text">jours
        pour changer d’avis
      </p>
    </div>
    <div class="services-item web-security-icon">
      <h3 class="services-title titles">Paiement sécurisé</h3>
      <p class="services-text">3 fois CB sans frais
      </p>
    </div>
  </div>
</section>

<section class="article">
  <h2 class="section-title">Nos promos</h2>
  <p class="section-desc">Meilleurs prix garanties</p>
  <div class="article-items">
    <a href=# class="article-item">
      <img class="article-pic" src="../../assets/img/solde.jpg" alt="Ebony &amp; Ivory">
      <h3 class="article-title titles">Sofa &amp; Design</h3>
    </a>
    <a href=# class="article-item">
      <img class="article-pic" src="../../assets/img/solde1.jpg" alt="logo solde">
      <h3 class="article-title titles">Tentez Votre Chance et Gangez</h3>
    </a>
    <a href=# class="article-item">
      <img class="article-pic" src="../../assets/img/solde2.jpg" alt="logo solde">
      <h3 class="article-title titles">Promo de L'été</h3>
    </a>
    <a href=# class="article-item">
      <img class="article-pic" src="../../assets/img/solde3.jpg" alt="logo solde">
      <h3 class="article-title titles">Déco contemporaine</h3>
    </a>
    <a href=# class="article-item">
      <img class="article-pic" src="../../assets/img/solde1.jpg" alt="Solde">
      <h3 class="article-title titles">Canapé velour</h3>
    </a>
    <a href=# class="article-item">
      <img class="article-pic" src="../../assets/img/solde.jpg" alt="logo">
      <h3 class="article-title titles">gagnez une cuisine</h3>
    </a>
  </div>
</section>
<section class="clients">
  <a href="#" class="clients-item">
    <img src="../../assets/img/11.png" alt="">
  </a>
  <a href="#" class="clients-item">
    <img src="../../assets/img/9.png" alt="">
  </a>
  <a href="#" class="clients-item">
    <img src="../../assets/img/7.png" alt="+">
  </a>
  <a href="#" class="clients-item">
    <img src="../../assets/img/4.png" alt="">
  </a>
</section>
<section class="clients">
  <a href="#" class="clients-item">
    <img src="../../assets/img/5.png" alt="">
  </a>
  <a href="#" class="clients-item">
    <img src="../../assets/img/6.png" alt="">
  </a>
  <a href="#" class="clients-item">
    <img src="../../assets/img/0.png" alt="+">
  </a>
  <a href="#" class="clients-item">
    <img src="../../assets/img/8.png" alt="">
  </a>
</section>

<app-footer></app-footer>
</div>