* {
  margin: 0;
  padding: 0;
}


.header {
  overflow: auto;
  padding-bottom: 162px;
  color: white;
  background-image: url("../../assets/img/sofa3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
header:before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav {

  width: 940px;
  margin: 35px auto 0;
  box-sizing: border-box;

  text-align: justify;
  font-size: 0;
}

.nav:after {
  display: inline-block;
  width: 100%;
  content: "";
}

.logo {
  padding-bottom: 4px;
  padding-left: 7px;
  vertical-align: bottom;
}

.nav-menu {

  display: inline-block;
  width: 485px;
  padding-top: 2px;
  box-sizing: border-box;
  vertical-align: top;

  text-align: justify;
}

.nav-menu:after {
  display: inline-block;
  width: 100%;
  content: "";
}

.nav-item {
  display: inline-block;
  width: auto;
  padding: 15px 0 0 5px;
  vertical-align: top;

  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fed136;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.preview {

  width: 940px;
  margin: 180px auto 0;

  text-align: center;
}

.main-title {
  padding-top: 15px;

  font-weight: normal;
  font-size: 46.5px;
  font-family: 'Vollkorn', serif;
  text-transform: capitalize;
}

.preview-excerpt {
  padding-top: 15px;

  font-weight: bold;
  font-size: 74px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: white;
}

.btn {
  display: inline-block;
  width: 240px;
  height: 65px;
  margin: 40px auto 0;
  box-sizing: border-box;

  line-height: 65px;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  background-color: #fed136;
  border: none;
  border-radius: 5px;
}

.services {
  width: 831px;
  margin: 0 auto;
  padding-top: 108px;
  padding-bottom: 98px;

  text-align: center;
}

.section-title {
  font-weight: bold;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.section-desc {
  padding-top: 3px;

  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #777777;
}

.services-items {

  margin-top: 50px;
  box-sizing: border-box;

  text-align: justify;
}

.services-items:after {
  display: inline-block;
  width: 100%;
  content: "";
}

.services-item {
  display: inline-block;
  width: 277px;
  text-align: center;
}
.e-commerce-icon::before{
  background-image:url("../../assets/img/livraison.jpg");
  background-size: cover;
}
.responsive-web-icon::before{
  background-image: url("../../assets/img/panier.jpg");
  background-size: cover;

}
.web-security-icon::before{
  background-image: url("../../assets/img/paiement.jpg");
  background-size: cover;

}






.services-item::before {
  display: inline-block;
  content: "";
  min-width: 73px;
  min-height: 73px;
  width: 73px;
  height: 73px;
  margin: 22px auto;
  box-sizing: border-box;
  border: 3px solid #fed136;
  border-radius: 50%;
}



.titles {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
}

.services-text {
  padding-top: 12px;

  font-size: 13px;
  line-height: 1.6;
  font-family: 'Roboto Slab', serif;
  color: #777777;
}

.article {
  width: 100%;
  margin: 0 auto;
  padding-top: 108px;
  padding-bottom: 50px;

  text-align: center;

  background-color: #f7f7f7;
}

.article-items {

  width: 870px;
  margin: 74px auto 0;
  box-sizing: border-box;

  text-align: justify;
}

.article-items:after {
  display: inline-block;
  width: 100%;
  content: "";
}

.article-item {
  display: inline-block;
  width: 290px;
  margin-bottom: 55px;
  vertical-align: top;

  text-align: center;
  text-decoration: none;
  
  background-color: white;
}

.article-item:hover .article-title, .article-item:hover .article-text {
  color: #fed136;
}

.article-item:hover .article-pic {
  filter: grayscale(.8);
}

.article-pic {
  width: 290px;
  height: 300px;
}

.article-title {
  padding-top: 20px;
  color: #222222;
}

.article-text {
  padding-bottom: 20px;

  font-size: 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
}



.continue {
  width: 180px;
  height: 180px;
  padding: 40px 0;
  margin-bottom: 0;
  box-sizing: border-box;

  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;

  background-color: #fed136;
  border: 7px solid #f7f7f7;
  border-radius: 50%;
}

.team {
  width: 1138px;
  margin: 0 auto;
  padding-top: 108px;
  padding-bottom: 113px;

  text-align: center;

  background-color: #f7f7f7;
}

.team .section-title {
  margin-top: 3px;
  letter-spacing: -2.5px;
}

.team .section-desc {
  padding-top: 10px;
}

.team-items {

  width: 800px;
  margin: 74px auto 0;
  box-sizing: border-box;

  text-align: justify;
}

.team-items:after {
  display: inline-block;
  width: 100%;
  content: "";
}

.team-item {
  display: inline-block;
  width: 30%;
  vertical-align: top;

  text-align: center;
}

.team-title {
  margin-top: 19px;
  font-size: 15px;
}

.team-text {
  margin-bottom: 13px;
  padding-top: 4px;

  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
}

.team-photo {
  display: inline-block;
  width: 220px;
  height: 220px;
  margin-top: 3px;

  background-color: #111111;
  border-radius: 50%;
}

.social-btn {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 3px;

  background-color: #f7f7f7;
  border: 3px solid #222222;
  border-radius: 50%;
}


.twitter-btn:hover, .footer .twitter-btn:hover {
  background-color: #00aced;
  border: 3px solid #00aced;
}

.facebook-btn {
  background-position: -205px -60px;
}

.facebook-btn:hover, .footer .facebook-btn:hover {
  background-color: #3b5998;
  border: 3px solid #3b5998;
}

.pinterest-btn:hover, .footer .pinterest-btn:hover {
  background-color: #cb2028;
  border: 3px solid #cb2028;
}


.google-plus-btn:hover, .footer .google-plus-btn:hover {
  background-color: #d95232;
  border: 3px solid #d95232;
}

.team-about {
  display: inline-block;
  width: 630px;
  margin-top: 14px;
  padding-top: 10px;

  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  letter-spacing: -0.3px;
}

.clients {

  width: 608px;
  margin: 60px auto 61px;
  padding-top: 1px;
  box-sizing: border-box;

  font-size: 0;
  text-align: justify;
}

.clients:after {
  display: inline-block;
  width: 100%;
  content: "";
}

.clients-item {
  display: inline-block;
  max-width: 190px;
  max-height: 50px;
  vertical-align: middle;
}
.container{
  width: 1296px;
}