<nav class="nav">
  <img class="logo" src="../../assets/img/logo.png">
  <div class="nav-bar-glob">
    <ul class="nav-menu">
      <li class="nav-item">
        <a class="nav-link" a routerLink="/Accueil">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" a routerLink="/galerie">Galerie</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" a routerLink="/g-details">Produit</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/product-list">Liste des Produits </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">QUI SOMMES-NOUS ?</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/connexion">Connexion</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/panier">Panier</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/products-cart">product-cart</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/cart">cart</a>
      </li>
      <!-- <li class="nav-item" *ngIf="!isLoggedIn">
    <a class="nav-link" routerLink="/inscription">Inscription</a>
</li> -->

    </ul>
    <ul *ngIf="isLoggedIn" class="deconnexion">
      <li class="logout warn">
        <a (click)="logout()"><i class="far fa-times-circle"></i> Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
