.nav {
  position: relative;
  width: 1296px;  /* margin: 35px auto 0; */
  box-sizing: border-box;
  height: 100px;
  padding-top: 20px;
  text-align: justify;
  font-size: 0;
}

.nav:after {
  display: inline-block;
  width: 100%;
  content: "";
}
.logo {
  padding-bottom: 10px;
  padding-left: 10px;
  vertical-align: bottom;
  width: 170px;
  height: 80px;
}

.nav-menu {
  position: relative;
// display: flex;
  display: inline-block;
  width: 1126px;
  padding-top: 2px;
  box-sizing: border-box;
  vertical-align: top;

  text-align: justify;
}
nav{
  display: flex;
  flex-direction: row;
}
.nav-bar-glob{
  display: flex;
  flex-direction: row;
  width: 1126px;
}



.nav-menu:after {
  display: inline-block;
  width: 100%;
  content: "";
}
.deconnexion{
  width: 303px;
}
.fa-times-circle:before {
  content: "\f057";
  color: red;
}
.warn {
  color: #bf7764;
    display: inline-block;
    width: auto;
    padding: 18px 0 0 55px;
    vertical-align: top;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-item {
  display: inline-block;
  width: auto;
  padding: 18px 0 0 50px;
  vertical-align: top;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fed136;
}

.nav-link {
  color: black;
  text-decoration: none;
}
