.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 2% 0;
  // position: fixed;
}
#wrapper[_ngcontent-c2] {
  width: 1294px;
  height: 800px;
}

.login-box {
  width: 400px;
  margin: 0 auto;
}
.text-info{
  cursor: pointer;
}
.login-box .footer {
  width: 100%;
  left: 0px;
  right: 0px;
}
.login-box .social {
  display: block;
  margin-bottom: 30px;
}

#recoverform {
  display: none;
}

.login-sidebar {
  padding: 0px;
  margin-top: 0px;
}
.login-sidebar .login-box {
  right: 0px;
  position: absolute;
  height: 100%;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

* {
  outline: 0;
}
.btn:not(:disabled):not(.disabled),
.navbar-toggler:not(:disabled):not(.disabled),
.page-link:not(:disabled):not(.disabled),
summary {
  cursor: pointer;
}
.btn-group-lg > .btn-rounded.btn,
.btn-rounded.btn-lg {
  padding: 0.75rem 1.5rem;
}
.btn-rounded {
  border-radius: 60px;
  padding: 7px 18px;
}
.card {
  background-color: #fff;
}
.btn-googleplus {
  color: #fff;
  background-color: #dd4b39;
}
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn,
.btn-link,
.dropdown-item {
  font-weight: 400;
}
.btn-facebook {
  background-color: #3b5998;
}
.btn-dribbble,
.btn-dribbble:hover,
.btn-dropbox,
.btn-facebook,
.btn-facebook:hover,
.btn-flickr,
.btn-github,
.btn-googleplus:hover,
.btn-instagram,
.btn-linkedin,
.btn-linkedin:hover,
.btn-pinterest,
.btn-skype,
.btn-tumblr,
.btn-twitter,
.btn-twitter:hover,
.btn-youtube {
  color: #fff;
}
.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}
.form-material .form-control,
.form-material .form-control.focus,
.form-material .form-control:focus {
  background-image: linear-gradient(#fb9678, #fb9678),
    linear-gradient(#e9ecef, #e9ecef);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  float: none;
}
.form-material .form-control {
  background-color: transparent;
  background-position: center bottom, center calc(100% - 1px);
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 1px;
  padding: 0;
  transition: background 0s ease-out 0s;
}
.form-control {
  min-height: 38px;
  display: initial;
}
.form-material .form-group {
  overflow: hidden;
}

.form-group {
  margin-bottom: 25px;
}
.m-b-20 {
  margin-bottom: 20px;
}

.h3,
h3 {
  font-size: 24px;
}
.login-box .social {
  display: block;
  margin-bottom: 30px;
}
main[role="main"] {
  margin: 75px 0px 6px 195px;
}
body {
  display: block;
  margin: 0px !important;
}
@media screen and (min-width: 600px) {
  body {
    height: 100%;
    margin: 0px !important;
  }
}



    @media (max-width: 768px) {
        .card-body{
            width: 350px;
            height: 420px;
        }
      }