.m-t-40 {
    margin-top: 40px;
}
.h2, h2 {
    font-size: 30px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: Poppins,sans-serif;
    font-weight: 300;
    line-height: 1.2;
    color: inherit;
}
.text-success {
    color: #00c292!important;
}
.row{
    width: 800px;
}
h3 {
    font-size: 24px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: Poppins,sans-serif;
    font-weight: 300;
    line-height: 1.2;
    color: inherit;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

img {
    border-style: none;
}
.card-body ,main{
    flex: 1 1 auto;
    padding: 1.25rem;
}
.m-t-40 {
    margin-top: 40px;
}

.h3, h3 {
    font-size: 24px;
}
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px){
.col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
}
.table td, .table th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
@media (min-width: 768px){
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
}
@media (min-width: 992px){
.col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
}
@media (min-width: 768px){
.col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
}
@media (min-width: 576px){
.col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
}
.flex{
    display: flex;
}