    <!-- Info box Content -->

                <!-- ============================================================== -->
                <main role="main">
                <div class="row" >
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="">{{object.name}}</h3>
                                <h6 class="card-subtitle">chaise de type globe pour le repos</h6>
                                <div class="row">
                                  <div class="flex">
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="white-box text-center"><img src= {{object.image}} class="img-responsive"> </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-6">
                                        <h4 class="box-title m-t-40"> Description du produit</h4>
                                        <p>
                                            {{object.description}}</p>
                                        <h2 class="m-t-40">{{object.price}}€ <small class="text-success">(Remise {{object.remise}}%)</small></h2>
                                        <button class="btn btn-dark btn-rounded m-r-5" (click)="addTocart(object)" >Ajoutez au panier</button>
                                        <button class="btn btn-primary btn-rounded"> Achat Immediat </button>
                                        <h3 class="box-title m-t-40">Les Critères</h3>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check text-success"></i> Structure Confortable</li>
                                            <li><i class="fa fa-check text-success"></i> Consu pour une portabilité facile</li>
                                            <li><i class="fa fa-check text-success"></i> Des meubles parfaits pour afficher vos merveilleux objets de collection</li>
                                        </ul>
                                    </div>
                                  </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <h3 class="box-title m-t-40">Infos Génerale </h3>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>Style</td>
                                                        <td> {{object.style}} &amp; Moderne </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Coussins Inclus</td>
                                                        <td> {{object.cousins}} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hauteur Adjustable</td>
                                                        <td> {{object.hajustable}} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Numéro du Modele</td>
                                                        <td> {{object.num}} </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
              </main>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
