/* You can add global styles to this file, and also import other style files */
.container {
  width: 1296px;
}
body,html{
  font-family: 'Raleway', sans-serif;
}

.glob{
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 1296px;
}

