<section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/img/login-register.jpg);">
      <div class="login-box card">
          <div class="card-body">
              <form class="form-horizontal form-material" id="loginform" action="index.html">
                  <h3 class="box-title m-b-20">Inscription</h3>
                  <!-- <div class="form-group">
                      <div class="col-xs-12">
                          <input class="form-control" type="text" required="" placeholder="Name">
                      </div>
                  </div> -->
                  <div class="form-group ">
                      <div class="col-xs-12">
                          <input class="form-control" type="text" required="" placeholder="Email" name="email" [(ngModel)]="email">
                      </div>
                  </div>
                  <div class="form-group ">
                      <div class="col-xs-12">
                          <input class="form-control" type="password" required="" name="password" placeholder="Password" [(ngModel)]="password">
                      </div>
                  </div>
                  <!-- <div class="form-group">
                      <div class="col-xs-12">
                          <input class="form-control" type="password" required="" placeholder="Confirm Password">
                      </div>
                  </div> -->
                  <div class="form-group row">
                      <div class="col-md-12">
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">I agree to all <a >Terms</a></label> 
                          </div> 
                      </div>
                  </div>
                  <div class="form-group text-center p-b-20">
                      <div class="col-xs-12">
                          <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit" (click)="register()">Inscription</button>
                      </div>
                  </div>
                  <div class="form-group m-b-0">
                      <div class="col-sm-12 text-center">
                            Vous avez un compte? <a (click)='connexion()' class="text-info m-l-5" ><b>Connexion</b></a>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>