<div class="card mt-5">
  <div class="card-body">
      <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
          <!-- TO UPDATE -->
          <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="name"
              #name="ngModel"
              [(ngModel)]="productService.selectedProduct.name"
              placeholder="Add A Product"
              >
          </div>
          <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="category"
                #category="ngModel"
                [(ngModel)]="productService.selectedProduct.category"
                placeholder="Add A Category"
                >
            </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="description"
              #description="ngModel"
              [(ngModel)]="productService.selectedProduct.description"
              placeholder="Add A description"
              >
          </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="image"
              #image="ngModel"
              [(ngModel)]="productService.selectedProduct.image"
              placeholder="Add A image"
              >
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
              </div>
              <input
                type="number"
                class="form-control"
                name="price"
                #price="ngModel"
                [(ngModel)]="productService.selectedProduct.price"
                placeholder="Add A Price"
                >
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-plus-circle"></i> Add A Product
            </button>
            <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)">
                <i class="fas fa-sync-alt"></i> Reset
            </button>
          </div>
        </form>
  </div>
</div>
<!-- <app-footer></app-footer> -->

