.footer {
    padding: 19px;
    background-color: #f7f7f7;
    width: 1296px;    margin-top: 86px;
  }
  
  .copyright {
    width: 940px;
    margin: 0 auto;
  }
  
  .copy {
    float: left;
    padding-top: 12px;
    width: 33.3%;
  
    font-weight: bold;
    font-style: normal;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    color: #777777;
  }
  
  
  
  .footer .social-btns {
    float: left;
    display: block;
    width: 33.3%;
  
    text-align: center;
  }
  
  .copyright::after {
    content: '';
    display: block;
    clear: both;
  }
  .container{
    width: 100%;
  }
  .footer .social-btn {
    display: inline-block;
    margin: 2px 2px;
  }


  .social-btn {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 3px solid #222222;
    border-radius: 50%;
  }

  
 .twitter-btn {
    
    background-image: url(../../assets/img/twiter.png);
background-size: cover;
  }
  
  .facebook-btn {
    background-image: url(../../assets/img/facebook.png);
    background-size: cover;

  }


  .pinterest-btn{
    background-image: url(../../assets/img/pinterest.png);
    background-size: cover;

  }
 
  
  .google-plus-btn {
    background-image: url(../../assets/img/google.png);
    background-size: cover;

  } 
