
<footer class="footer">
  <div class="copyright">
    <address class="copy">&copy; Copyright 2018 sofabydesign.com</address>
    <div class="social-btns">
      <a href="#" class="social-btn twitter-btn"></a>
      <a href="#" class="social-btn facebook-btn"></a>
      <a href="#" class="social-btn pinterest-btn"></a>
      <a href="#" class="social-btn google-plus-btn"></a>
    </div>
  </div>
</footer>