app-galerie-details{
    padding-top: 100px;

}



.cadre{
    height:350px;
}
.cadre[_ngcontent-c1] {
    height: 280px;
    width: 234px;
}
.photo{
    display: flex;
    flex-wrap: wrap;
}

.panel-heading{
    height: 70px;
} 
.ronde-img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.container {
    width: 970px;
}
.clicable{
    cursor: pointer;
}
.nav{
    padding-left: 25px;
}
.imgs{
    height: 260px;
    width: 300px;
}

.foot-galer{
    position: absolute;
    z-index: 30;
    width: 100%;
    margin-top: 150px;
}
@media (max-width: 768px) {
    .foot-galer{
      width: 1028px ;
    }
  }
  .container{
    width: 1296px;
  }