<div class="panel panel-primary">
        <div class="panel-heading">{{object.tags}}</div>
        <div class="panel-body imgs">
          <img src="{{object.previewURL}}"><br><br>
         <p>photo prise par: {{object.user}}</p><img src="{{object.userImageURL}}" class="ronde-img"><br><br>
         <br>
         <p>NB de likes: {{object.likes}}</p> 
        </div>
      </div>

