<div class='row'>
  <div class='col-md-12'>
    <nav class='navbar navbar-togglable-md navbar-light bg-faded'>
      <div class='collapse navbar-collapse'>
      </div>
    </nav>
  </div>
</div>

<div class='row'>
  <div class='col-md-2'>
    <br>
    <br>
    <br>
    <div class='custom-sidebar'>
      <div *ngFor='let item of listItems'>
        <a href='{{item.link}}' *ngIf='item.isNew!==true'>{{item.name}}</a>
        <a href='{{item.link}}' target='blank' *ngIf='item.isNew===true'>{{item.name}}</a>
      </div>
      <hr>
    </div>
  </div>
  <div class='col-md-10'>
    <router-outlet></router-outlet>
  </div>
</div>