.custom-image-style {
  width: 40%;
  display: block;
  margin: 0 auto;
}

.product-desc-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.custom-products-cart-container {
  padding-top: 20px;
}

.custom-products-cart-container ul ul {
  width: 75%;
  padding:  15%;
}

.product-cart-item {
  display: flex;
}

.product-cart-item-left {
  display: flex;
}

.card {
  margin-bottom: .75rem;
}

.card-block {
  padding: 1.25rem;
}


.main {
  display: flex;
  flex-wrap: wrap;
}
.product-img img{
  display: flex;
  text-align: center;
  position: relative;
  max-width: 200px;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    width: 250px;
   padding-left: 25px !important;
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
#page_preloader__img {
  margin: -50px 0 0 -50px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1001;
  transition: transform .2s ease-in-out;
  width: 50px;
  height: 50px;
}
img {
  vertical-align: middle;
}
.card{
  width: 250px;
  padding-left: 50px;
}
.container-fluid {
  padding: 0 25px;
}
.container,
.container-fluid {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
* {
  outline: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 992px){
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
}
@media (min-width: 768px){
.col-md-6 {
    max-width: 50%;
}
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.product-text .pro-price {
    position: absolute;
    padding: 20px 0;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    top: -30px;
    right: 0px;
}

.bg-primary {
    background-color: #fb9678!important;
}
.bg-success {
    background-color: #00c292!important;
}
.bg-dark {
    background-color: #343a40!important;
}
.bg-info {
    background-color: #03a9f3!important;
}
.container-fluid {
    padding: 0 25px;
}
@media screen and (min-width: 600px){
main{
    margin: 200px 0 40px 200px;
}
}
.product-text {
    border-top: 1px solid #e9ecef;
    padding-top: 30px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;

}
.card .card-title {
    position: relative;
    font-weight: 500;
    height: 0px;
}
.card-title{
  line-height: 0;

}
h5 {
    font-size: 16px;
    line-height: 1.5;

}
.text-muted {
    color: #6c757d!important;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;

}

.small, small {
    font-size: 80%;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;

}
main[_ngcontent-c1] {
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
img{
  width: 220px;
  height: 200px;
}
.product-text[_ngcontent-c2] {
  border-top: 1px solid #e9ecef;
  padding-top: 30px;
  position: relative;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}
.about {
  padding-top: 108px;
  padding-bottom: 120px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


@media (max-width: 768px) {
  .about {
      width: 810px;    }
  .globale{
    width: 1028px ;
  }
}
.globale{
  width: 1196px!important;
}
.logo{
  width: 170px;
}