<!-- <div class='container row'>
  <div class='col-md-2'>
    <h1>Products</h1>
  </div>
  <div class='col-md-10 custom-products-cart-container'>
    <div class='offset-md-8'>
      <ul class='nav navbar-nav navbar-right'>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>
            <span class='glyicon glyphicon-shopping-cart'>
              Products Added In Cart:
            </span>
            <span class='caret'>{{cartProducts.length}}</span>
          </a>
          <ul class='dropdown-menu dropdown-cart' role='menu'>
            <li *ngFor='let item of cartProducts'>
              <div class='item product-cart-item row'>
                <div class='col-md-8' *ngIf='item'>{{item.title}}</div>
                <div class='col-md-4' *ngIf='item'><strong>${{item.price}}</strong></div>
              </div>
            </li>
            <hr>
            <li><a class='btn btn-primary btn-block' role='button' (click)='goToCart()'>View Cart</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class='container'>
  <div class='row'>
      <div class='col-md-4 col-centered' *ngFor='let product of products;let i=index'>
        <div class='card card-block'>
          <img [src]='product.img' alt='' class='custom-image-style'>
          <div class='product-desc-container row'>
            <div class='container'>
                <img src={{product.image}} alt="Smiley face" height="42" width="42">
              <p><strong>{{product.name}}: ${{product.price}}</strong></p>
              <p>{{product.description}}</p>
            </div>
            <div class='offset-md-4 col-md-4'>
              <button class='btn btn-primary btn-sm' (click)='addToCart(i)' [disabled]='product.isAdded===true'>Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div> -->

<!--=============================================================-->
<div class="globale">
    <!-- <img *ngIf="!productList" id="page_preloader__img" src="https://cdn.shopify.com/s/files/1/1938/4233/t/3/assets/shopify_logo.gif?3272999979862117449"
        alt="">-->
        <div class='container row'>
            <div class='col-md-2'>
              <h1>Products</h1>
            </div>
            <div class='col-md-10 custom-products-cart-container'>
              <div class='offset-md-8'>
                <ul class='nav navbar-nav navbar-right'>
                  <li class='dropdown'>
                    <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>
                      <span class='glyicon glyphicon-shopping-cart'>
                        Products Added In Cart:
                      </span>
                      <span class='caret'>{{cartProducts.length}}</span>
                    </a>
                    <ul class='dropdown-menu dropdown-cart' role='menu'>
                      <li *ngFor='let item of cartProducts'>
                        <div class='item product-cart-item row'>
                          <div class='col-md-8' *ngIf='item'>{{item.title}}</div>
                          <div class='col-md-4' *ngIf='item'><strong>${{item.price}}</strong></div>
                        </div>
                      </li>
                      <hr>
                      <li><a class='btn btn-primary btn-block' role='button' (click)='goToCart()'>View Cart</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr>
    <!-- ============================================================== -->
    <section class="about">
        <!-- <main role="main">  -->
        <div *ngFor='let product of products;let i=index'>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="product-img">
                            <img src={{product.image}} alt="Smiley face" height="42" width="42">
                            <div class="pro-img-overlay">
                                <a class="bg-info">
                                    <i class="ti-marker-alt"></i>
                                </a>
                                <a class="bg-danger">
                                    <i class="ti-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-text">
                            <span class="pro-price bg-primary">{{product.price}}€</span>
                            <h5 class="card-title m-b-0"> {{product.name}}</h5>
                            <small class="text-muted db"> {{product.category}}</small>
                        </div>
                        <br>
                        <button class="btn btn-success text-white" (click)='addToCart(i)' [disabled]='product.isAdded===true'><i class="fas fa-cart-plus"></i></button>
                        &nbsp;
                        <a class="btn btn-success text-white" (click)="onEdit(product)">
                            <i class="fas fa-info"></i>
                        </a>
                    </div>
                </div>
            </div>
            <br> </div>
        <!-- </main> -->
    </section>
</div>
<app-footer *ngIf="products"></app-footer>