
<h1>Mon Panier</h1>

<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Produit</label>
    <label class="product-price">Prix</label>
    <label class="product-quantity">Quantité</label>
    <label class="product-removal">Supprimer</label>
    <label class="product-line-price">Total</label>
  </div>

  <div class="product" *ngFor="let object of products">
    <div class="product-image">
      <!-- <img src="../../assets/img/chair.jpg"> -->
            <img src="{{object.image}}">

    </div>
    <div class="product-details">
      <div class="product-title">{{object.name}}</div>
      <p class="product-description">{{object.description}}</p>
    </div>
    <div class="product-price">{{object.price}}</div>
    <div class="product-quantity">
      <input type="number" value="2" min="1">
    </div>
    <div class="product-removal">
      <button class="remove-product" (click)='onDelete(object)'>
        Supprimer
      </button>
    </div>
    <div class="product-line-price">{{object.price}}</div>
  </div>

 <!-- <div class="totals">
    <div class="totals-item">
      <label>Soustotal</label>
      <div class="totals-value" id="cart-subtotal">{{total}}</div>
    </div>
    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax">{{tax}}</div>
    </div>
    <div class="totals-item">
      <label>Livraison</label>
      <div class="totals-value" id="cart-shipping">{{shipping}}</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Total</label>
      <div class="totals-value" id="cart-total">{{totalCart()}}</div>
    </div>
  </div>
      <button class="checkout">Valider</button>-->

</div>