<div class="globale">
    <img *ngIf="!productList" id="page_preloader__img" src="https://cdn.shopify.com/s/files/1/1938/4233/t/3/assets/shopify_logo.gif?3272999979862117449"
        alt="">

    <!-- ============================================================== -->
    <section class="about">
        <!-- <main role="main">  -->
        <div *ngFor="let product of productList">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="product-img">
                            <img src={{product.image}} alt="Smiley face" height="42" width="42">
                            <div class="pro-img-overlay">
                                <a class="bg-info">
                                    <i class="ti-marker-alt"></i>
                                </a>
                                <a class="bg-danger">
                                    <i class="ti-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-text">
                            <span class="pro-price bg-primary">{{product.price}}€</span>
                            <h5 class="card-title m-b-0"> {{product.name}}</h5>
                            <small class="text-muted db"> {{product.category}}</small>
                        </div>
                        <br>
                        <a class="btn btn-success text-white" (click)="addProductToCart(product)">
                            <i class="fas fa-cart-plus"></i>
                        </a>&nbsp;
                        <a class="btn btn-success text-white" (click)="onEdit(product)">
                            <i class="fas fa-info"></i>
                        </a>
                    </div>
                </div>
            </div>
            <br> </div>
        <!-- </main> -->
    </section>
</div>
<app-footer *ngIf="productList"></app-footer>
<!-- ============================================================= -->